.find-by-date__container{
  width: calc(100vw - 115px);
  height: 100vh;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .result-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    max-height: 600px;
    overflow: auto;
    border: 1px solid #9e9898c0;

    .card-team{
      cursor: pointer;
      min-height: 400px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
