<div class="find-by-date__container">
  <div class="result-container" *ngIf="teams.length > 0">
    <div *ngFor="let team of teams">
      <div class="card border-info mb-3 card-team" style="max-width: 18rem">
        <div class="card-header">{{ team.nombre }}</div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>Estadio</strong> : {{ team.estadio }}
          </h5>
          <p *ngIf="team.sitioWeb" class="card-text">
            <strong>Sitio Web</strong> :
            <a href="{{ team.sitioWeb }}" target="_blank">
              {{ team.sitioWeb }}
            </a>
          </p>
          <p class="card-text">
            <strong>Nacionalidad</strong> : {{ team.nacionalidad }}
          </p>
          <p class="card-text">
            <strong>Fundacion</strong> : {{ team.fundacion }}
          </p>
          <p class="card-text">
            <strong>Entrenador</strong> : {{ team.entrenador }}
          </p>
          <p class="card-text">
            <strong>Capacidad</strong> : {{ team.capacidad | number }}
          </p>
          <p *ngIf="team.valor" class="card-text">
            <strong>Valor</strong> : {{ team.valor | currency }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="teams.length === 0">
      <p>No se encontraron equipos en ese rango de fechas.</p>
    </div>
    <form (ngSubmit)="searchTeamsByDate()" #dateForm="ngForm" style="width: 400px;">
      <div class="mb-3">
        <label for="start-date" class="form-label">Fecha Inicio</label>
        <input
          type="date"
          class="form-control"
          id="start-date"
          name="start-date"
          [(ngModel)]="startDate"
          required
        />
      </div>
      <div class="mb-3">
        <label for="end-date" class="form-label">Fecha fin</label>
        <input
          type="date"
          class="form-control"
          id="end-date"
          name="end-date"
          [(ngModel)]="endDate"
          required
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
      </div>
    </form>
  </div>
</div>
