<div class="find-by-date__container">
  <div class="result-container" *ngIf="teams.length > 0">
    <div *ngFor="let team of teams">
      <app-card-team [team]="team"></app-card-team>
    </div>
  </div>
  <div style="min-width: 200px">
    <div *ngIf="teams.length === 0">
      <p>No se encontraron equipos en ese rango de fechas.</p>
    </div>
    <form
      (ngSubmit)="searchTeamsByDate()"
      #dateForm="ngForm"
      style="width: 400px"
    >
      <div class="mb-3">
        <label for="start-date" class="form-label">Fecha Inicio</label>
        <input
          type="date"
          class="form-control"
          id="start-date"
          name="start-date"
          [(ngModel)]="startDate"
          required
        />
      </div>
      <div class="mb-3">
        <label for="end-date" class="form-label">Fecha fin</label>
        <input
          type="date"
          class="form-control"
          id="end-date"
          name="end-date"
          [(ngModel)]="endDate"
          required
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
      </div>
    </form>
  </div>
</div>
