.add-edit-form__container {
  width: calc(100vw - 100px);
  height: 94vh;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
