<div
  class="d-flex flex-column flex-shrink-0 bg-light"
  style="max-width: 100px; height: 100%;"
>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li>
      <a
        [routerLink]="['/home']"
        routerLinkActive="active"
        class="nav-link py-3 border-bottom"
        aria-current="page"
        title="Home"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        Home
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/find-by-id']"
        routerLinkActive="active"
        class="nav-link py-3 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Dashboard"
      >
        Buscar Por ID
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/find-by-date']"
        routerLinkActive="active"
        class="nav-link py-3 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Orders"
      >
        Buscar Por fecha
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/create-team']"
        routerLinkActive="active"
        class="nav-link py-3 border-bottom"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Orders"
      >
        Crear Equipo
      </a>
    </li>
  </ul>
</div>
