<div class="find-by-id__container">
  <div class="input-group mb-3" style="max-width: 400px">
    <input
      type="number"
      class="form-control"
      [(ngModel)]="searchId"
      placeholder="ID del equipo"
      aria-label="ID del equipo"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-outline-primary"
      type="button"
      id="button-addon2"
      (click)="searchTeamById()"
    >
      Buscar
    </button>
  </div>
  <div *ngIf="team">
    <app-card-team [team]="team"></app-card-team>
  </div>
  <div *ngIf="team === null">
    <p>No se encontró ningún equipo con ese ID.</p>
  </div>
</div>
