.card-team__container {
  min-width: calc(100vw - 115px);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
