.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .container-team {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
